html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul, li {
  list-style: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

i {
  font-style: normal; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Value Sans Pro';
  src: url("fonts/value-sans-bold-pro.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Value Sans Pro";
  src: url("fonts/value-sans-regular-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Value Sans Pro";
  src: url("fonts/value-sans-medium-pro.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Value Sans Pro";
  src: url("fonts/value-sans-black-pro.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: "Value Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 1.34;
  letter-spacing: .05px;
  background-color: #0A70B9;
  color: #ffffff; }
  html * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    outline: none; }

html, body {
  width: 100%;
  overflow-x: hidden; }

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 10px 50px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn:hover {
    background-color: #ffffff;
    color: #0A70B9;
    border-color: #0A70B9; }

.icon {
  width: 16px;
  height: 16px;
  vertical-align: sub;
  fill: #ffffff; }
  .icon.-white {
    fill: #ffffff; }
  .icon.-blue {
    fill: #0A70B9; }
  .icon.-plane {
    width: 40px;
    height: 36px; }
  .icon.-rotate-90 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.cut-plane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cut-plane .cut-plane__left,
  .cut-plane .cut-plane__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 3px;
    background-repeat: repeat-x;
    background-position: right center;
    background-size: auto 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAGCAYAAAAlvnXZAAAAYUlEQVR4AaXMNRICURQF0Te4rYccJ2chbBYPcUiQaOzfhhDXU9Vp2yNBHHeApcT+Ok1CKNs7QBoIeELQBzx7JYqo8l7uzSRq/z3ZbrclnfGEpBng2Tuhc10g4t4ximjZjRNWatO63JOyIgAAAABJRU5ErkJggg=="); }
  .cut-plane .cut-plane__right {
    background-position: left center; }
  .cut-plane .cut-plane__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    position: relative;
    top: 4px;
    padding: 0 16px;
    text-align: center;
    -webkit-animation: animate-down 1.2s ease-out infinite;
            animation: animate-down 1.2s ease-out infinite; }
  .cut-plane.-blue .cut-plane__left,
  .cut-plane.-blue .cut-plane__right {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAGCAYAAAAlvnXZAAAAZElEQVR4AWPACnJ2BzPk7XnGkL/nAzIGit1iKNxhxkAQpJ1hBSr+CcT/seL8vVcZGP4z4jckZ68TSDFe3LCfA68ZQEUelBuStZ8HqPAfHkMew7xDyDX5QPwbiwGfGHL2uaMrBwBvam319VXtdQAAAABJRU5ErkJggg=="); }
  .cut-plane.-blue .cut-plane__icon .icon {
    fill: #0A70B9; }

@-webkit-keyframes animate-down {
  0%, 100% {
    top: 2px; }
  50% {
    top: 8px; } }

@keyframes animate-down {
  0%, 100% {
    top: 2px; }
  50% {
    top: 8px; } }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(10, 112, 185, 0.95);
  z-index: 10;
  font-size: 20px; }
  .header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .main-nav__logo {
      display: block; }
      .header .main-nav__logo img {
        display: block;
        max-width: 150px; }
    .header .main-nav__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header .main-nav__item {
      padding: 0 20px;
      margin: auto 0; }
      .header .main-nav__item__link {
        color: #ffffff;
        padding-bottom: 5px; }
        .header .main-nav__item__link:hover {
          border-bottom: 3px solid #ffffff; }

.showcase {
  padding-top: 200px; }
  .showcase__title {
    font-size: 90px;
    font-weight: 900;
    line-height: 1.2; }
  .showcase__desc {
    font-size: 40px;
    font-weight: bold;
    padding: 30px 0 90px 0; }
  .showcase__trip {
    font-size: 40px; }
  .showcase__date {
    font-size: 40px; }
  .showcase__plane {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 40px;
    padding-left: 80%;
    -webkit-animation: 1.5s ease-out 0s 1 slideInFromLeft;
            animation: 1.5s ease-out 0s 1 slideInFromLeft;
    position: relative; }
    .showcase__plane:before {
      content: '';
      display: block;
      position: absolute;
      width: 97%;
      height: 3px;
      background-color: #ffffff;
      top: 39%;
      right: 3%; }

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
.about {
  padding-top: 200px;
  padding-bottom: 100px; }
  .about__area-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px; }
    .about__area-one__text {
      font-size: 44px;
      font-weight: 900;
      width: 50%;
      padding-right: 100px; }
    .about__area-one__image {
      width: 50%; }
      .about__area-one__image img {
        display: block;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
  .about hr {
    border-top: 2px dotted #ffffff;
    width: calc(50% - 40px); }
  .about__area-two {
    padding-top: 100px; }
    .about__area-two__title {
      font-size: 44px;
      font-weight: 900;
      margin-bottom: 30px; }
    .about__area-two__text {
      width: 72%;
      padding-bottom: 80px; }
    .about__area-two .timeline {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 100px 0 160px 0; }
      @media (max-width: 720px) {
        .about__area-two .timeline {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-left: 20px; } }
      .about__area-two .timeline .timeline__item {
        position: relative;
        width: 260px;
        padding-left: 40px; }
        @media (max-width: 720px) {
          .about__area-two .timeline .timeline__item {
            padding-left: 46px; } }
        .about__area-two .timeline .timeline__item:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 47px;
          right: 0;
          width: 1000px;
          height: 3px;
          background: #ffffff; }
          @media (max-width: 720px) {
            .about__area-two .timeline .timeline__item:before {
              top: 0;
              bottom: 0;
              left: 14px;
              right: auto;
              width: 3px;
              height: auto; } }
        .about__area-two .timeline .timeline__item.-plane {
          width: auto; }
          .about__area-two .timeline .timeline__item.-plane:before {
            right: 10px; }
          .about__area-two .timeline .timeline__item.-plane .icon {
            margin-top: 30px; }
          @media (max-width: 720px) {
            .about__area-two .timeline .timeline__item.-plane:before {
              right: auto;
              bottom: 10px; }
            .about__area-two .timeline .timeline__item.-plane .icon {
              margin-left: -50px;
              -webkit-transform: rotate(90deg);
                      transform: rotate(90deg); } }
      .about__area-two .timeline .timeline__year {
        height: 32px; }
        @media (max-width: 720px) {
          .about__area-two .timeline .timeline__year {
            position: relative;
            top: 32px;
            font-weight: 700; } }
      .about__area-two .timeline .timeline__circle {
        margin-left: -40px;
        padding-bottom: 4px; }
        @media (max-width: 720px) {
          .about__area-two .timeline .timeline__circle {
            margin-left: -46px; } }
        .about__area-two .timeline .timeline__circle:before {
          content: '';
          position: relative;
          z-index: 1;
          display: block;
          width: 26px;
          height: 26px;
          border: solid 3px #fff;
          border-radius: 100%;
          background: #0A70B9; }
        .about__area-two .timeline .timeline__circle.active:before {
          background: #ffffff; }
  .about__plane {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 40px;
    padding-left: 80%;
    -webkit-animation: 1.5s ease-out 0s 1 slideInFromLeft;
            animation: 1.5s ease-out 0s 1 slideInFromLeft;
    position: relative; }
    .about__plane:before {
      content: '';
      display: block;
      position: absolute;
      width: 97%;
      height: 3px;
      background-color: #ffffff;
      top: 39%;
      right: 3%; }

.speakers-new {
  padding-top: 200px;
  padding-bottom: 100px;
  background: #ffffff;
  color: #000000; }
  .speakers-new .speakers-new__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #0A70B9; }
    @media (max-width: 720px) {
      .speakers-new .speakers-new__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .speakers-new .speakers-new__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px; }
    @media (max-width: 1080px) {
      .speakers-new .speakers-new__items {
        margin: 0; } }
  .speakers-new .speakers-new__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
    margin-top: 60px;
    padding: 0 30px; }
    @media (max-width: 1080px) {
      .speakers-new .speakers-new__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        max-width: none;
        padding: 0; } }
  .speakers-new .speakers-new__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;
    color: #0A70B9; }
    @media (max-width: 1080px) {
      .speakers-new .speakers-new__item-title {
        font-size: 1.4rem; } }
    @media (max-width: 1080px) {
      .speakers-new .speakers-new__item-title {
        font-size: 1.2rem; } }
  .speakers-new .speakers-new__item-position {
    line-height: 1.2; }
  .speakers-new .speakers-new__item-description {
    margin-top: 25px; }
  .speakers-new .speakers-new__cut-plane {
    margin-top: 60px; }
  .speakers-new .speakers-new__collapsed {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s ease-out;
    transition: max-height .4s ease-out; }
    .speakers-new .speakers-new__collapsed.check {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      max-height: none;
      overflow: visible;
      opacity: 0; }
    .speakers-new .speakers-new__collapsed .speakers-new__header {
      margin-top: 60px; }
  .speakers-new.expanded .speakers-new__cut-plane .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.schedule-new {
  padding: 200px 0;
  background: #0A70B9;
  color: #ffffff; }
  .schedule-new .schedule-new__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .schedule-new .schedule-new__header span {
      margin-left: auto;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 900; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__header span {
        font-size: 1.4rem; } }
    @media (max-width: 720px) {
      .schedule-new .schedule-new__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .schedule-new .schedule-new__header span {
          margin-left: 0;
          font-size: 1.2rem; } }
  .schedule-new .schedule-new__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__items {
        margin: 0; } }
  .schedule-new .schedule-new__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
    margin-top: 60px;
    padding: 0 30px; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        max-width: none;
        padding: 0; } }
  .schedule-new .schedule-new__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item-title {
        font-size: 1.4rem; } }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item-title {
        font-size: 1.2rem; } }
  .schedule-new .schedule-new__item-time {
    line-height: 1.2; }
  .schedule-new .schedule-new__item-description {
    margin-top: 25px; }
  .schedule-new .schedule-new__cut-plane {
    margin-top: 60px; }
  .schedule-new .schedule-new__collapsed {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s ease-out;
    transition: max-height .4s ease-out; }
    .schedule-new .schedule-new__collapsed.check {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      max-height: none;
      overflow: visible;
      opacity: 0; }
    .schedule-new .schedule-new__collapsed .schedule-new__header {
      margin-top: 60px; }
  .schedule-new.expanded .schedule-new__cut-plane .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.ticket {
  padding-top: 60px;
  padding-bottom: 60px; }
  .ticket__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 50px; }
  .ticket .boarding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .ticket .boarding__big {
      border: 2px solid #ffffff;
      border-radius: 30px;
      width: 68%; }
      .ticket .boarding__big__header {
        font-size: 30px;
        font-weight: 500;
        padding-left: 40px;
        position: relative;
        height: 90px;
        line-height: 90px; }
        .ticket .boarding__big__header svg {
          width: 40px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
      .ticket .boarding__big__form-area {
        margin-bottom: 30px;
        background-color: #ffffff;
        color: #0A70B9;
        padding-top: 20px;
        padding-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 470px;
        border-right: 2px dashed lightgrey; }
        .ticket .boarding__big__form-area img {
          margin-left: 20px; }
        .ticket .boarding__big__form-area__form {
          margin-left: 35px;
          margin-right: 50px;
          width: 100%; }
          .ticket .boarding__big__form-area__form__item {
            padding: 18px 0;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .ticket .boarding__big__form-area__form__item:first-child {
              padding-top: 0; }
            .ticket .boarding__big__form-area__form__item._date {
              padding-bottom: 0;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between; }
            .ticket .boarding__big__form-area__form__item label {
              font-weight: 500;
              width: 130px;
              margin-right: 20px; }
            .ticket .boarding__big__form-area__form__item input {
              font-size: 20px;
              padding: 5px 10px;
              border: 1px solid #0A70B9;
              border-radius: 10px; }
            .ticket .boarding__big__form-area__form__item .input {
              width: 100%; }
            .ticket .boarding__big__form-area__form__item .plane1 {
              width: 20px;
              -webkit-transform: rotate(-45deg);
                      transform: rotate(-45deg);
              margin-right: 10px;
              margin-left: -20px; }
            .ticket .boarding__big__form-area__form__item .plane2 {
              width: 20px;
              -webkit-transform: rotate(45deg);
                      transform: rotate(45deg);
              margin-right: 10px; }
            .ticket .boarding__big__form-area__form__item .small {
              width: 100px;
              margin-right: 20px; }
            .ticket .boarding__big__form-area__form__item .submit {
              cursor: pointer;
              background-color: #0A70B9;
              color: #ffffff;
              padding: 5px 20px;
              -webkit-transition: .3s;
              transition: .3s;
              border-radius: 5px; }
              .ticket .boarding__big__form-area__form__item .submit:hover {
                background-color: #0961a1; }
          .ticket .boarding__big__form-area__form .confidential {
            margin-top: 10px;
            font-size: 14px;
            text-align: end; }
            .ticket .boarding__big__form-area__form .confidential a {
              color: #000000; }
            .ticket .boarding__big__form-area__form .confidential #checkbox {
              -webkit-appearance: none;
              width: 20px;
              height: 20px;
              background: white;
              border-radius: 5px;
              border: 1px solid #0A70B9; }
              .ticket .boarding__big__form-area__form .confidential #checkbox:checked {
                background-image: url("img/check-solid.svg"); }
    .ticket .boarding__small {
      border: 2px solid #ffffff;
      border-radius: 30px;
      width: 32%; }
      .ticket .boarding__small__header {
        font-size: 14px;
        height: 90px;
        margin: 0 30px;
        position: relative; }
        .ticket .boarding__small__header__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          width: 100%;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .ticket .boarding__small__header img {
          max-width: 90px;
          padding-top: 5px; }
      .ticket .boarding__small__form-area {
        margin-bottom: 30px;
        background-color: #ffffff;
        color: #0A70B9;
        padding: 20px 30px;
        font-weight: 500;
        border-left: 2px dashed lightgrey;
        height: 470px; }
        .ticket .boarding__small__form-area__title {
          padding-bottom: 10px; }
        .ticket .boarding__small__form-area__form input {
          font-size: 20px;
          padding: 4.5px 10px;
          border: 1px solid #0A70B9;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 8px; }
        .ticket .boarding__small__form-area img {
          width: 100%;
          margin-top: 15px; }
  .ticket ._pl {
    padding-left: 80px; }
  .ticket .price {
    margin-top: 30px;
    font-weight: 900; }

.contacts {
  padding-top: 150px;
  padding-bottom: 60px; }
  .contacts__title {
    font-size: 44px;
    font-weight: 900; }
  .contacts__address {
    padding: 40px 0; }
  .contacts__social {
    margin-top: 20px; }
    .contacts__social a {
      color: #ffffff; }
    .contacts__social svg {
      width: 40px;
      margin: 0 15px; }

.map {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden; }
  .map:before {
    content: '';
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(10, 112, 185, 0.3);
    pointer-events: none; }
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

.footer {
  padding: 60px 0;
  height: 500px; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px; }
    .footer__inner img {
      width: 300px;
      margin-right: 50px;
      margin-bottom: 100px; }

a[role=button] {
  cursor: pointer; }

.section {
  padding: 60px 0; }

.section__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4vw; }

.section__header h2 {
  font-size: 1.8rem; }

.section__text {
  max-width: 70vw;
  margin-top: 20px; }
  @media (max-width: 720px) {
    .section__text {
      max-width: 100%; } }
  .section__text p {
    margin: 1rem 0; }

.icon {
  width: 16px;
  height: 16px;
  vertical-align: sub;
  fill: #fff; }
  .icon.-white {
    fill: #fff; }
  .icon.-blue {
    fill: #0a70b9; }
  .icon.-plane {
    width: 40px;
    height: 36px; }
  .icon.-rotate-90 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.cut-plane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cut-plane .cut-plane__left,
  .cut-plane .cut-plane__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 3px;
    background-repeat: repeat-x;
    background-position: right center;
    background-size: auto 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAGCAYAAAAlvnXZAAAAYUlEQVR4AaXMNRICURQF0Te4rYccJ2chbBYPcUiQaOzfhhDXU9Vp2yNBHHeApcT+Ok1CKNs7QBoIeELQBzx7JYqo8l7uzSRq/z3ZbrclnfGEpBng2Tuhc10g4t4ximjZjRNWatO63JOyIgAAAABJRU5ErkJggg=="); }
  .cut-plane .cut-plane__right {
    background-position: left center; }
  .cut-plane .cut-plane__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    position: relative;
    top: 4px;
    padding: 0 16px;
    text-align: center;
    -webkit-animation: animate-down 1.2s ease-out infinite;
            animation: animate-down 1.2s ease-out infinite; }
  .cut-plane.-blue .cut-plane__left,
  .cut-plane.-blue .cut-plane__right {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAGCAYAAAAlvnXZAAAAZElEQVR4AWPACnJ2BzPk7XnGkL/nAzIGit1iKNxhxkAQpJ1hBSr+CcT/seL8vVcZGP4z4jckZ68TSDFe3LCfA68ZQEUelBuStZ8HqPAfHkMew7xDyDX5QPwbiwGfGHL2uaMrBwBvam319VXtdQAAAABJRU5ErkJggg=="); }
  .cut-plane.-blue .cut-plane__icon .icon {
    fill: #0a70b9; }

@keyframes animate-down {
  0%, 100% {
    top: 2px; }
  50% {
    top: 8px; } }
.timeline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0 160px 0; }
  @media (max-width: 720px) {
    .timeline {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 20px; } }
  .timeline .timeline__item {
    position: relative;
    width: 260px;
    padding-left: 40px; }
    @media (max-width: 720px) {
      .timeline .timeline__item {
        padding-left: 46px; } }
    .timeline .timeline__item:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 47px;
      right: 0;
      width: 1000px;
      height: 3px;
      background: #fff; }
      @media (max-width: 720px) {
        .timeline .timeline__item:before {
          top: 0;
          bottom: 0;
          left: 14px;
          right: auto;
          width: 3px;
          height: auto; } }
    .timeline .timeline__item.-plane {
      width: auto; }
      .timeline .timeline__item.-plane:before {
        right: 10px; }
      .timeline .timeline__item.-plane .icon {
        margin-top: 30px; }
      @media (max-width: 720px) {
        .timeline .timeline__item.-plane:before {
          right: auto;
          bottom: 10px; }
        .timeline .timeline__item.-plane .icon {
          margin-left: -50px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); } }
  .timeline .timeline__year {
    height: 32px; }
    @media (max-width: 720px) {
      .timeline .timeline__year {
        position: relative;
        top: 32px;
        font-weight: 700; } }
  .timeline .timeline__circle {
    margin-left: -40px;
    padding-bottom: 4px; }
    @media (max-width: 720px) {
      .timeline .timeline__circle {
        margin-left: -46px; } }
    .timeline .timeline__circle:before {
      content: '';
      position: relative;
      z-index: 1;
      display: block;
      width: 26px;
      height: 26px;
      border: solid 3px #fff;
      border-radius: 100%;
      background: #0a70b9; }
    .timeline .timeline__circle.active:before {
      background: #fff; }

.schedule-new {
  padding: 200px 0;
  background: #0a70b9;
  color: #fff; }
  .schedule-new .schedule-new__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .schedule-new .schedule-new__header span {
      margin-left: auto;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 900; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__header span {
        font-size: 1.4rem; } }
    @media (max-width: 720px) {
      .schedule-new .schedule-new__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .schedule-new .schedule-new__header span {
          margin-left: 0;
          font-size: 1.2rem; } }
  .schedule-new .schedule-new__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__items {
        margin: 0; } }
  .schedule-new .schedule-new__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
    margin-top: 60px;
    padding: 0 30px; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        max-width: none;
        padding: 0; } }
  .schedule-new .schedule-new__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2; }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item-title {
        font-size: 1.4rem; } }
    @media (max-width: 1080px) {
      .schedule-new .schedule-new__item-title {
        font-size: 1.2rem; } }
  .schedule-new .schedule-new__item-time {
    line-height: 1.2; }
  .schedule-new .schedule-new__item-description {
    margin-top: 25px; }
  .schedule-new .schedule-new__cut-plane {
    margin-top: 60px; }
  .schedule-new .schedule-new__collapsed {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s ease-out;
    transition: max-height .4s ease-out; }
    .schedule-new .schedule-new__collapsed.check {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      max-height: none;
      overflow: visible;
      opacity: 0; }
    .schedule-new .schedule-new__collapsed .schedule-new__header {
      margin-top: 60px; }
  .schedule-new.expanded .schedule-new__cut-plane .icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

/*# sourceMappingURL=style.css.map */