//
//	_base.scss
//	Настройки по-умолчанию
//
//	Copyright © 2020 Andrey Shpigunov. All right reserved.
//


// Базовые глобальные параметры
// ----------------------------

$use-antialiasing: false !default;			// Использовать сглаживние (false)
$use-classic-links: false !default;			// Использовать классическое подчеркивание ссылок (false)


// Точки перехода экранов
// ----------------------

// Максимальные значения
$screen-xsmall: 420px !default;				// <= 420
$screen-small: 720px !default;				// <= 720
$screen-medium: 1080px !default;				// <= 1080
$screen-large: 1440px !default;				// <= 1440

// Внимание!
// Здесь указано минимальное значение.
$screen-xlarge: $screen-large + 1;			// >= 1441


// Цвет ссылок
// -----------

$link-color: #05a !default;
$link-color-hovered: #f00 !default;
$link-color-visited: #528 !default;
$link-border-opacity: 0.2 !default;


// Настройки сетки
// ---------------

$grid-columns: 12 !default;					// Количество колонок
$grid-gutters-large: 1.2vw !default;		// Отступы между колонками
$grid-gutters-medium: 1.2vw !default;
$grid-gutters-small: 1.2vw !default;


// Настройки отступов
// ------------------

$spacing-base: 10 !default;					// Базовый отступ, px
$spacing-steps: 10 !default;					// Шаги отступов


// Шрифт по умолчанию
// ------------------

$line-height: 1.5 !default;
$font-size: 16px !default;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;


// Формы
// -----

$forms-placeholder-color: #ccc !default;
$forms-border-color: #ddd !default;
$forms-border-color-focused: #8cf !default;
$forms-border-color-error: #f00 !default;


// Кнопки
// ------

$buttons-colors: (
	"primary": #08c,
	"secondary": #6c757d,
	"success": #2a4,
	"danger": #c23,
	"warning": #fc0,
	"info": #00b6bb,
	"white": #fff,
	"black": #122,
) !default;


@import "_functions";
@import "_reset";
@import "_adaptive";
@import "_helpers";
@import "_grid";
@import "_spacing";
@import "_blocks";
@import "_inline-blocks";
@import "_links";
@import "_modal";
@import "_typo";
@import "_buttons";
@import "_debug";
@import "_forms";