//
//	_blocks.css
//	Плавающие блоки + base.js
//
//	Copyright © 2019 Andrey Shpigunov. All right reserved.
//


.blocks {
	position: relative;
	@extend .clear;
	
	> .block {
		position: relative;
		display: block;
		float: left;
	}
}