//
//	_helpers.scss
//	Вспомогательные классы
//
//	Copyright © 2019 Andrey Shpigunov. All right reserved.
//


// Запрещает выделение
.unselectable,
.unselectable * {
	user-select: none;
}

// Клеарфикс
.clear {
	
	&:after {
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
}

// Выравнивание текста
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@include screen-xlarge {
	.xlarge-text-left { text-align: left; }
	.xlarge-text-center { text-align: center; }
	.xlarge-text-right { text-align: right; }
}

@include screen-medium {
	.medium-text-left { text-align: left; }
	.medium-text-center { text-align: center; }
	.medium-text-right { text-align: right; }
}

@include screen-small {
	.small-text-left { text-align: left; }
	.small-text-center { text-align: center; }
	.small-text-right { text-align: right; }
}

@include screen-xsmall {
	.xsmall-text-left { text-align: left; }
	.xsmall-text-center { text-align: center; }
	.xsmall-text-right { text-align: right; }
}

// Регистр текста
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

//	Непереносимый текст
.nowrap { white-space: nowrap; }

//	Расстановка переносов
.hyphens { hyphens: auto; }

//	Обертка для видео, позволяющая масштабировать размер в зависимости от экрана
.video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//	Переносит непереносимые текстовые конструкции
.break-word {
	word-wrap: break-word;
}

//	Визуально скрывает блок
.visuallyhidden {
	position: absolute;
	top: 0;
	left: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

// Скрывает текущий или следующий элемент
.hidden,
.hidden-next + * {
	display: none !important;
}

// Делает элемент невидимым
.invisible {
	visibility: hidden !important;
}

// Добавляет таблице горизонтальную прокрутку, если она не помещается
.table-responsive {
	overflow-x: auto;
}

// Поднимает элемент над контекстом
.up {
	position: relative;
	z-index: 1;
}