.about {
  padding-top: 200px;
  padding-bottom: 100px;

  @media (max-width: $screen-small) {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  &__area-one {
    display: flex;
    padding-bottom: 100px;

    @media (max-width: $screen-medium) {
      flex-direction: column-reverse;
      padding-bottom: 60px;
    }
    @media (max-width: $screen-small) {
      padding-bottom: 30px;
    }

    &__text {
      font-size: 2rem;
      font-weight: 900;
      width: 50%;
      padding-right: 100px;

      @media (max-width: $screen-medium) {
        width: 100%;
        padding-right: 0;
        text-align: end;
      }
      @media (max-width: $screen-small) {
        font-size: 1.2rem;
      }
    }

    &__image {
      width: 50%;

      @media (max-width: $screen-medium) {
        width: 100%;
        margin-bottom: 30px;
      }

      img {
        display: block;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }

  hr {
    border-top: 2px dotted #ffffff;
    width: calc(50% - 40px);
  }

  &__area-two {
    padding-top: 100px;

    @media (max-width: $screen-small) {
      padding-top: 80px;
    }

    &__title {
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 30px;
    }

    &__text {
      width: 72%;
      padding-bottom: 80px;

      @media (max-width: $screen-small) {
        width: 100%;
        padding-bottom: 40px;
      }
    }
  }
  
  .about__timeline {
    padding: 100px 0 160px 0;

    @media (max-width: $screen-medium) {
      padding: 40px 0 40px 0;
    }
  }
}

.timeline {
  position: relative;
  display: flex;
  width: 100%;

  @media (max-width: $screen-medium) {
    flex-direction: column;
    margin-left: 20px;
    //padding: 40px 0 40px 0;
  }

  .timeline__item {
    position: relative;
    width: 260px;
    padding-left: 40px;

    @media (max-width: $screen-medium) {
      padding-left: 46px;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 47px;
      right: 0;
      width: 1000px;
      height: 3px;
      background: $colorWhite;

      @media (max-width: $screen-medium) {
        top: 0;
        bottom: 0;
        left: 14px;
        right: auto;
        width: 3px;
        height: auto;
      }
    }

    &.-plane {
      width: auto;

      &:before {
        right: 10px;
      }

      .icon {
        margin-top: 30px;
      }

      @media (max-width: $screen-medium) {

        &:before {
          right: auto;
          bottom: 10px;
        }

        .icon {
          margin-left: -50px;
          transform: rotate(90deg);
        }
      }
    }
  }
  .timeline__year {
    height: 32px;

    @media (max-width: $screen-medium) {
      position: relative;
      top: 32px;
      font-weight: 700;
    }
  }
  .timeline__circle {
    margin-left: -40px;
    padding-bottom: 4px;

    @media (max-width: $screen-medium) {
      margin-left: -46px;
    }

    &:before {
      content: '';
      position: relative;
      z-index: 1;
      display: block;
      width: 26px;
      height: 26px;
      border: solid 3px #fff;
      border-radius: 100%;
      background: $mainColor;
    }

    &.active:before {
      background: $colorWhite;
    }
  }
  .timeline__rent {

  }
  .timeline__sold {

  }
}