.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(10, 112, 185, .95);
  z-index: 10;
  font-size: 1rem;

  @media (max-width: $screen-medium) {
    height: 100px;
  }

  @media (max-width: $screen-small) {
    height: 80px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-medium) {
      justify-content: space-between;
    }

    .mob-btn {
      display: none;

      @media (max-width: $screen-medium) {
        display: inherit;
      }

      .btn {
        @media (max-width: $screen-medium) {
          font-size: 20px;
          line-height: 20px;
          padding: 16px 20px;
          margin-right: 20px;
        }
        @media (max-width: $screen-small) {
          font-size: 14px;
          line-height: 14px;
          padding: 10px 10px;
          margin-right: 0;
        }
      }
    }

    &__logo {
      display: block;

      img {
        display: block;
        max-width: 150px;

        @media (max-width: $screen-small) {
          max-width: 100px;
        }
      }
    }

    &__items {
      display: flex;

      @media (max-width: $screen-medium) {
        display: none;
      }
    }

    &__item {
      padding: 0 20px;
      margin: auto 0;
    }
    
    &__item-link {
      color: #ffffff;
      padding-bottom: 5px;
      
      &:hover,
      &.active {
        border-bottom: 3px solid #ffffff;
      }
    }
  }
}