// Schedule new section

.schedule {
  padding: 100px 0;
  background: $mainColor;
  color: $colorWhite;

  @media (max-width: $screen-medium) {
    padding: 50px 0;
  }

  .schedule__header {
    display: flex;

    span {
      margin-left: auto;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 900;
    }

    @media (max-width: $screen-medium) {

      span {
        font-size: 1.4rem;
      }
    }

    @media (max-width: $screen-small) {
      flex-direction: column;

      span {
        margin-left: 0;
        font-size: 1.2rem;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
  }
  .schedule__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;

    @media (max-width: $screen-medium) {
      margin: 0;
    }
  }
  .schedule__item {
    flex: 1 0 50%;
    max-width: 50%;
    margin-top: 60px;
    padding: 0 30px;

    @media (max-width: $screen-medium) {
      flex: 1 0 100%;
      max-width: none;
      padding: 0;
    }
  }
  .schedule__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;

    @media (max-width: $screen-medium) {
      font-size: 1.4rem;
    }

    @media (max-width: $screen-medium) {
      font-size: 1.2rem;
    }
  }
  .schedule__item-time {
    line-height: 1.2;
  }
  .schedule__item-description {
    margin-top: 25px;
  }
  .schedule__cut-plane {
    margin-top: 60px;
  }

  .schedule__collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;

    &.check {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      max-height: none;
      overflow: visible;
      opacity: 0;
    }

    .schedule__header {
      margin-top: 60px;
    }
  }
  &.expanded {

    .schedule__cut-plane {

      .icon {
        transform: rotate(-90deg);
      }
    }
  }
}