
.speakers {
  padding: 100px 0;
  background: $colorWhite;
  color: $colorBlack;

  .speakers__header {
    display: flex;
    color: $mainColor;

    @media (max-width: $screen-small) {
      flex-direction: column;

    }

    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
  }
  .speakers__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;

    @media (max-width: $screen-medium) {
      margin: 0;
    }
  }
  .speakers__item {
    flex: 1 0 50%;
    max-width: 50%;
    margin-top: 60px;
    padding: 0 30px;

    @media (max-width: $screen-medium) {
      flex: 1 0 100%;
      max-width: none;
      padding: 0;
    }
  }
  .speakers__item-title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;
    color: $mainColor;

    @media (max-width: $screen-medium) {
      font-size: 1.4rem;
    }

    @media (max-width: $screen-medium) {
      font-size: 1.2rem;
    }
  }
  .speakers__item-position {
    line-height: 1.2;
  }
  .speakers__item-description {
    margin-top: 25px;
  }
  .speakers__cut-plane {
    margin-top: 60px;
  }

  .speakers__collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;

    &.check {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      max-height: none;
      overflow: visible;
      opacity: 0;
    }

    .speakers__header {
      margin-top: 60px;
    }
  }
  &.expanded {

    .speakers__cut-plane {

      .icon {
        transform: rotate(-90deg);
      }
    }
  }
}