.about {
  padding-top: 200px;
  padding-bottom: 100px;

  &__area-one {
    display: flex;
    padding-bottom: 50px;

    &__text {
      font-size: 44px;
      font-weight: 900;
      width: 50%;
      padding-right: 100px;
    }

    &__image {
      width: 50%;

      img {
        display: block;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }

  hr {
    border-top: 2px dotted #ffffff;
    width: calc(50% - 40px);
  }

  &__area-two {
    padding-top: 100px;

    &__title {
      font-size: 44px;
      font-weight: 900;
      margin-bottom: 30px;
    }

    &__text {
      width: 72%;
      padding-bottom: 80px;
    }

    .timeline {
      position: relative;
      display: flex;
      width: 100%;
      padding: 100px 0 160px 0;

      @media (max-width: $screen-small) {
        flex-direction: column;
        margin-left: 20px;
      }

      .timeline__item {
        position: relative;
        width: 260px;
        padding-left: 40px;

        @media (max-width: $screen-small) {
          padding-left: 46px;
        }

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 47px;
          right: 0;
          width: 1000px;
          height: 3px;
          background: $colorWhite;

          @media (max-width: $screen-small) {
            top: 0;
            bottom: 0;
            left: 14px;
            right: auto;
            width: 3px;
            height: auto;
          }
        }

        &.-plane {
          width: auto;

          &:before {
            right: 10px;
          }

          .icon {
            margin-top: 30px;
          }

          @media (max-width: $screen-small) {

            &:before {
              right: auto;
              bottom: 10px;
            }

            .icon {
              margin-left: -50px;
              transform: rotate(90deg);
            }
          }
        }
      }
      .timeline__year {
        height: 32px;

        @media (max-width: $screen-small) {
          position: relative;
          top: 32px;
          font-weight: 700;
        }
      }
      .timeline__circle {
        margin-left: -40px;
        padding-bottom: 4px;

        @media (max-width: $screen-small) {
          margin-left: -46px;
        }

        &:before {
          content: '';
          position: relative;
          z-index: 1;
          display: block;
          width: 26px;
          height: 26px;
          border: solid 3px #fff;
          border-radius: 100%;
          background: $mainColor;
        }

        &.active:before {
          background: $colorWhite;
        }
      }
      .timeline__rent {

      }
      .timeline__sold {

      }
    }

  }

  &__plane {
    box-sizing: content-box;
    width: 40px;
    padding-left: 80%;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 97%;
      height: 3px;
      background-color: #ffffff;
      top: 39%;
      right: 3%;
    }
  }
}