.footer {
  padding: 80px 0;

  &__title {
    font-size: 2rem;
    font-weight: 900;
  }

  &__address {
    padding: 40px 0;
  }

  &__bottom {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $screen-small) {
      flex-direction: column;
    }

    &__name {

      @media (max-width: $screen-small) {
        font-size: .8rem;
        text-align: end;
      }
    }

    &__left {
      display: flex;
      width: 45%;
      justify-content: space-between;

      @media (max-width: $screen-small) {
        width: 100%;
        margin-bottom: 20px;
      }

      &>div {
        margin: auto 0;
      }

      img {
        width: 150px;
      }
    }

    &_right {
      display: flex;
      width: 100px;
      justify-content: space-between;
      margin: auto;
      line-height: 2.8;

      @media (max-width: $screen-small) {
        margin: inherit;
      }

      a {
        width: 40px;
        height: 40px;
        color: $colorWhite;
      }
    }
  }
}