.schedule {
  padding-top: 60px;
  padding-bottom: 60px;

  &__items {
    display: none;

    &__title {
      font-size: 44px;
      font-weight: 900;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;

      &._end {
        justify-content: flex-end;
      }

      &__left {
        &._none {
          display: none;
        }
      }
    }

    &__inner {
      display: flex;
    }
  }

  &__item {
    padding-right: 100px;
    padding-bottom: 60px;

    &__title {
      font-size: 40px;
      font-weight: 900;
    }

    &__time {
      font-weight: 500;
      padding-bottom: 20px;
    }
  }

  &__plane {
    text-align: center;
    position: relative;
    width: 100%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      border-bottom: 2px dotted #ffffff;
      top: 37%;
    }

    a {
      color: #ffffff;
    }

    svg {
      width: 40px;
      transform: rotate(90deg);
    }
  }
}