.speakers {
  background-color: #ffffff;
  color: $mainColor;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 50px;
  }

  &__items {
    display: none;

    &__inner {
      display: flex;
    }
  }

  &__item {
    padding-right: 100px;
    padding-bottom: 60px;

    &__title {
      font-size: 40px;
      font-weight: 900;
    }

    &__position {
      color: #000000;
      font-weight: 500;
      padding-bottom: 20px;
    }

    &__desc {
      color: #000000;
    }
  }

  &__plane {
    text-align: center;
    position: relative;
    width: 100%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      border-bottom: 2px dotted $mainColor;
      top: 37%;
    }

    a {
      color: $mainColor;
    }

    svg {
      width: 40px;
      transform: rotate(90deg);
    }
  }
}